.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    height: 100vh;
    max-width: 992px;
}

@media (max-width: 1160px) {
    .container {
        margin-top: 7rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }
}

.container section{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
    margin-top: 2rem;
}

@media (max-width: 960px) {
    .container section{   
        gap: 2rem;
    }
  }

@media (max-width: 768px) {
    .container section{
        grid-template-columns: 1fr;
    }
}